%nav
  .container
    %ul.main-nav.group
      %li.home
        %a{:href => "http://mp3.zing.vn", :title => "Zing Mp3"} Zing MP3
      %li.home-logo
        %a{:href => "http://mp3.zing.vn"}
          %img{:alt => "Zing Mp3", :src => "http://static.mp3.zdn.vn/skins/zmp3-v4.1/images/logo-gray.png"}/
      %li.active
        %a.fn-login{:href => "http://mp3.zing.vn/mymusic/myplaylist", :title => "Nhạc cá nhân"} Nhạc Cá Nhân
        .megamenu.submenu.menu-col-1.fn-userbox.none
          .subcol.menu-col-1-narrow
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/mymusic/myplaylist"} Playlist Cá Nhân
                %li
                  %a{:href => "http://mp3.zing.vn/mymusic/favorites-playlist"} Yêu Thích
                %li
                  %a{:href => "http://mp3.zing.vn/mymusic/following-artist"} Quan tâm
                %li
                  %a{:href => "http://mp3.zing.vn/mymusic/upload"} Nhạc Upload
                %li
                  %a{:href => "http://mp3.zing.vn/mymusic/history"} Lịch Sử
      %li.separation
      %li
        %a{:href => "http://mp3.zing.vn/the-loai-album.html"} Album
        .megamenu.submenu.menu-col-4
          .subcol.menu-col-1
            .title-menu
              %a{:href => "http://mp3.zing.vn/the-loai-album/Viet-Nam/IWZ9Z08I.html"} Việt Nam
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Nhac-Tre/IWZ9Z088.html", :title => "Nhạc Trẻ"} Nhạc Trẻ
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Nhac-Tru-Tinh/IWZ9Z08B.html", :title => "Nhạc Trữ Tình"} Nhạc Trữ Tình
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Nhac-Dance/IWZ9Z0CW.html", :title => "Nhạc Dance"} Dance Việt
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Rock-Viet/IWZ9Z08A.html", :title => "Rock Việt"} Rock Việt
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Rap-Viet/IWZ9Z089.html", :title => "Rap Việt"} Rap / Hip Hop Việt
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Nhac-Trinh/IWZ9Z08E.html", :title => "Nhạc Trịnh"} Nhạc Trịnh
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Nhac-Thieu-Nhi/IWZ9Z08F.html", :title => "Nhạc Thiếu Nhi"} Nhạc Thiếu Nhi
          .subcol.menu-col-1
            .title-menu
              %a{:href => "http://mp3.zing.vn/the-loai-album/Au-My/IWZ9Z08O.html"} Âu Mỹ
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Pop/IWZ9Z097.html", :title => "Pop"} Pop
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Rock/IWZ9Z099.html", :title => "Rock"} Rock
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Rap-Hip-Hop/IWZ9Z09B.html", :title => "Rap / Hip Hop"} Rap / Hip Hop
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Country/IWZ9Z096.html", :title => "Country"} Country
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Electronic-Dance/IWZ9Z09A.html", :title => "Electronic / Dance"} Electronic / Dance
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/R-B-Soul/IWZ9Z09D.html", :title => "R&B / Soul"} R&B / Soul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Audiophile/IWZ9Z0EO.html", :title => "Audiophile"} Audiophile
          .subcol.menu-col-1
            .title-menu
              %a{:href => "http://mp3.zing.vn/the-loai-album/Han-Quoc/IWZ9Z08W.html"} Châu Á
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Han-Quoc/IWZ9Z08W.html"} Hàn Quốc
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Viet-Nam/Nhat-Ban/IWZ9Z08Z.html"} Nhật Bản
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Viet-Nam/Hoa-Ngu/IWZ9Z08U.html"} Hoa Ngữ
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Viet-Nam/IWZ9Z08I.html"} Thái Lan
          .subcol.menu-col-1
            .title-menu
              %a{:href => "http://mp3.zing.vn/the-loai-album/Hoa-Tau/IWZ9Z086.html"} Hòa Tấu
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Classical/IWZ9Z0BI.html", :title => "Classical"} Classical
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Piano/IWZ9Z0B0.html", :title => "Piano"} Piano
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Guitar/IWZ9Z0A9.html", :title => "Guitar"} Guitar
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Violin/IWZ9Z0BU.html", :title => "Violin"} Violin
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Cello/IWZ9Z0AD.html", :title => "Cello"} Cello
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Saxophone/IWZ9Z0B7.html", :title => "Saxophone"} Saxophone
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-album/Nhac-Cu-Dan-Toc/IWZ9Z0AA.html", :title => "Nhạc Cụ Dân Tộc"} Nhạc Cụ Dân Tộc
      %li
        %a{:href => "http://mp3.zing.vn/the-loai-video.html"} Video
        .megamenu.submenu.menu-col-4
          .subcol.menu-col-1
            .title-menu
              %a{:href => "http://mp3.zing.vn/the-loai-video/Viet-Nam/IWZ9Z08I.html"} Việt Nam
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Nhac-Tre/IWZ9Z088.html", :title => "Nhạc Trẻ"} Nhạc Trẻ
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Nhac-Tru-Tinh/IWZ9Z08B.html", :title => "Nhạc Trữ Tình"} Nhạc Trữ Tình
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Nhac-Dance/IWZ9Z0CW.html", :title => "Nhạc Dance"} Dance Việt
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Rock-Viet/IWZ9Z08A.html", :title => "Rock Việt"} Rock Việt
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Rap-Viet/IWZ9Z089.html", :title => "Rap Việt"} Rap / Hip Hop Việt
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Nhac-Trinh/IWZ9Z08E.html", :title => "Nhạc Trịnh"} Nhạc Trịnh
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Nhac-Thieu-Nhi/IWZ9Z08F.html", :title => "Nhạc Thiếu Nhi"} Nhạc Thiếu Nhi
          .subcol.menu-col-1
            .title-menu
              %a{:href => "http://mp3.zing.vn/the-loai-video/Au-My/IWZ9Z08O.html"} Âu Mỹ
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Pop/IWZ9Z097.html", :title => "Pop"} Pop
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Rock/IWZ9Z099.html", :title => "Rock"} Rock
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Rap-Hip-Hop/IWZ9Z09B.html", :title => "Rap / Hip Hop"} Rap / Hip Hop
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Country/IWZ9Z096.html", :title => "Country"} Country
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Electronic-Dance/IWZ9Z09A.html", :title => "Electronic / Dance"} Electronic / Dance
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/R-B-Soul/IWZ9Z09D.html", :title => "R&B / Soul"} R&B / Soul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Audiophile/IWZ9Z0EO.html", :title => "Audiophile"} Audiophile
          .subcol.menu-col-1
            .title-menu
              %a{:href => "http://mp3.zing.vn/the-loai-video/Han-Quoc/IWZ9Z08W.html"} Châu Á
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Han-Quoc/IWZ9Z08W.html"} Hàn Quốc
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Viet-Nam/Nhat-Ban/IWZ9Z08Z.html"} Nhật Bản
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Viet-Nam/Hoa-Ngu/IWZ9Z08U.html"} Hoa Ngữ
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Viet-Nam/IWZ9Z08I.html"} Thái Lan
          .subcol.menu-col-1
            .title-menu
              %a{:href => "http://mp3.zing.vn/the-loai-video/Hoa-Tau/IWZ9Z086.html"} Hòa Tấu
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Classical/IWZ9Z0BI.html", :title => "Classical"} Classical
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Piano/IWZ9Z0B0.html", :title => "Piano"} Piano
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Guitar/IWZ9Z0A9.html", :title => "Guitar"} Guitar
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Violin/IWZ9Z0BU.html", :title => "Violin"} Violin
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Cello/IWZ9Z0AD.html", :title => "Cello"} Cello
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Saxophone/IWZ9Z0B7.html", :title => "Saxophone"} Saxophone
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-video/Nhac-Cu-Dan-Toc/IWZ9Z0AA.html", :title => "Nhạc Cụ Dân Tộc"} Nhạc Cụ Dân Tộc
      %li
        %a{:href => "http://mp3.zing.vn/nghe-si"} Nghệ Sĩ
        .megamenu.submenu.menu-col-1
          .subcol.menu-col-1-narrow
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-nghe-si/Viet-Nam/IWZ9Z08I.html"} Việt Nam
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-nghe-si/Au-My/IWZ9Z08O.html"} Âu Mỹ
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-nghe-si/Han-Quoc/IWZ9Z08W.html"} Hàn Quốc
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-nghe-si/Nhat-Ban/IWZ9Z08Z.html"} Nhật Bản
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-nghe-si/Hoa-Ngu/IWZ9Z08U.html"} Hoa Ngữ
                %li
                  %a{:href => "http://mp3.zing.vn/the-loai-nghe-si/Hoa-Tau/IWZ9Z086.html"} Hòa Tấu
      %li
        %a{:href => "http://mp3.zing.vn/bang-xep-hang"} BXH
        .megamenu.submenu.menu-col-3.menu-bxh
          .subcol.menu-col-1-narrow
            .title-menu Việt Nam
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/bang-xep-hang/bai-hat-Viet-Nam/IWZ9Z08I.html"} Bài hát
                %li
                  %a{:href => "http://mp3.zing.vn/bang-xep-hang/album-Viet-Nam/IWZ9Z08O.html"} Album
                %li
                  %a{:href => "http://mp3.zing.vn/bang-xep-hang/video-Viet-Nam/IWZ9Z08W.html"} MV
          .subcol.menu-col-1-narrow
            .title-menu Âu Mỹ
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/bang-xep-hang/bai-hat-Au-My/IWZ9Z0BW.html"} Bài hát
                %li
                  %a{:href => "http://mp3.zing.vn/bang-xep-hang/album-Au-My/IWZ9Z0B6.html"} Album
                %li
                  %a{:href => "http://mp3.zing.vn/bang-xep-hang/video-Au-My/IWZ9Z0BU.html"} MV
          .subcol.menu-col-1-narrow
            .title-menu Hàn Quốc
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/bang-xep-hang/bai-hat-Han-Quoc/IWZ9Z0BO.html"} Bài hát
                %li
                  %a{:href => "http://mp3.zing.vn/bang-xep-hang/album-Han-Quoc/IWZ9Z0B7.html"} Album
                %li
                  %a{:href => "http://mp3.zing.vn/bang-xep-hang/video-Han-Quoc/IWZ9Z0BZ.html"} MV
      %li
        %a{:href => "http://mp3.zing.vn/top100/Nhac-Tre/IWZ9Z088.html"} Top 100
        .megamenu.submenu.menu-col-1
          .subcol.menu-col-1-narrow
            .subinner_item
              %ul
                %li
                  %a{:href => "http://mp3.zing.vn/top100/Nhac-Tre/IWZ9Z088.html"} Việt Nam
                %li
                  %a{:href => "http://mp3.zing.vn/top100/Pop/IWZ9Z097.html"} Âu Mỹ
                %li
                  %a{:href => "http://mp3.zing.vn/top100/Han-Quoc/IWZ9Z08W.html"} Châu Á
                %li
                  %a{:href => "http://mp3.zing.vn/top100/Classical/IWZ9Z0BI.html"} Hòa Tấu
      %li
        %a{:href => "http://mp3.zing.vn/real-time"} Real-time
      %li
        %a{:href => "http://radio.zing.vn", :target => "_blank"} Radio
      %li
        %a{:href => "http://mp3.zing.vn/vip", :target => "_blank"} Zing VIP
    %a.btn-upload.btn-default.fn-login.disabled{:href => "http://v3.mp3.zing.vn/upload/song.html"}
      %span.zicon.icup>
      Upload